@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.footer__address span, .footer__contacts span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.intro__info p, .intro__info button, .about__info p, .products__card p, .products__card button, .footer__copyright span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.about__info h2, .about__info p span, .products__container h2, .products__card h3, .footer__address span:first-of-type, .footer__contacts h3, .footer__copyright span span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.intro__info h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header__logo {
  width: 120px;
  height: 56px;
  background-image: url("../../../images/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro {
  width: 100%;
  padding: 210px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.intro__container {
  width: 100%;
  max-width: 1125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.intro__info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.intro__info h1 {
  font-size: 48px;
  line-height: 133.69%;
  color: #1F2E35;
}

.intro__info h1 span {
  color: #EE4248;
}

.intro__info p {
  margin: 24px 0 24px 0;
  font-size: 20px;
  line-height: 145%;
  color: #30444E;
}

.intro__info button {
  width: 161px;
  height: 53px;
  background-color: #EE4248;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  line-height: 145%;
  color: #FFFFFF;
}

.intro__illustration {
  width: 50%;
  height: 382px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about {
  width: 100%;
  padding: 60px 0 70px 0;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about__info {
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about__info h2 {
  font-size: 32px;
  line-height: 133.69%;
  color: #1F2E35;
}

.about__info h2 span {
  color: #EE4248;
}

.about__info p {
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
}

.about__info p:first-of-type {
  margin: 24px 0 24px 0;
}

.about__info p span {
  color: #EE4248;
}

.about__illustration {
  max-width: 452px;
  margin: 0 82px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.products {
  width: 100%;
  padding: 96px 0 88px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.products__container h2 {
  margin: 20px 0 18px 0;
  font-size: 32px;
  line-height: 133.69%;
  text-align: center;
  color: #1F2E35;
}

.products__cards {
  width: 100%;
  max-width: 1126px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.products__card {
  padding: 24px 24px 4px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__card img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.products__card h3 {
  margin: 16px 0 16px 0;
  font-size: 28px;
  line-height: 133.69%;
  color: #EE4248;
}

.products__card p {
  margin: 0 0 16px 0;
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
}

.products__card button {
  width: 119px;
  height: 42px;
  background-color: #EE4248;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__info {
  width: 100%;
  max-width: 1126px;
  min-height: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__address {
  padding: 0 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__address .footer__logo {
  width: 120px;
  height: 56px;
  background-image: url("../../../images/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__address span:first-of-type {
  margin: 10px 0 8px 0;
  font-size: 18px;
  line-height: 116.66%;
  color: #263238;
}

.footer__address span {
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

.footer__contacts {
  padding: 0 0 12px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__contacts h3 {
  margin: 0 0 16px 0;
  font-size: 24px;
  line-height: 116.66%;
  color: #263238;
}

.footer__contacts span {
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

.footer__copyright {
  width: 100%;
  height: 64px;
  margin: 12px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EE4248;
}

.footer__copyright span {
  font-size: 18px;
  line-height: 116.66%;
  color: #FFFFFF;
}
